<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.tedu.codeafterend.mapper.OvertimeMapper">
    <!--    int insert(Overtime overtime); -->

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO overtime(weekday_overtime, holiday_overtime, statutory_overtime, Employee_id, start_time, end_time,
                             legal_holiday_overtime)
        VALUES (#{weekdayOvertime}, #{holidayOvertime}, #{statutoryOvertime}, #{EmployeeId}, #{startTime}, #{endTime},
                #{legalHolidayOvertime})
    </insert>

    <!--    int delete(Long id); -->
    <delete id="delete">
        DELETE
        FROM overtime
        WHERE id = #{id}
    </delete>

    <!--    int deleteByEmployee(Long id); -->
    <delete id="deleteByEmployee">
        DELETE
        FROM overtime
        WHERE employee_id = #{id}
    </delete>

    <!--        int updateById(Dept dept); -->
    <update id="updateById">
        UPDATE overtime
        <set>
            weekday_overtime=#{weekdayOvertime},
            holiday_overtime=#{holidayOvertime},
            legal_holiday_overtime=#{legalHolidayOvertime},
            statutory_overtime=#{statutoryOvertime},
            <if test="EmployeeId != null">
                Employee_id=#{EmployeeId},
            </if>
            <if test="startTime != null">
                start_time=#{startTime},
            </if>
            <if test="endTime != null">
                end_time=#{endTime},
            </if>
                comp_time=#{compTime},
        </set>
        where id=#{id}
    </update>

    <!--    int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM overtime
    </select>

    <!--    EmployeeDataStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="getByIdResultMap">
        SELECT
        <include refid="getByIdQueryFields"/>
        FROM overtime t join employee_data e on t.Employee_id = e.id WHERE t.id=#{id}
    </select>


    <!--    int countName(String name); -->
    <!--    <select id="countName" resultType="int">-->
    <!--        SELECT count(*) FROM overtime where dept_name = #{deptName}-->
    <!--    </select>-->

    <!--   List<OvertimeStandardVO>  getAllById(Long id,String month);  -->
    <select id="getAllById" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM overtime
        o right join employee_data e on o.Employee_id = e.id
        where o.Employee_id = #{id}
        <if test="month != null">
            AND DATE_FORMAT(start_time, '%Y-%m') = #{month}
        </if>
    </select>
    <!--    List<OvertimeStandardVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM overtime o join employee_data e on o.Employee_id = e.id
        where DATE_FORMAT(o.start_time, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m')
    </select>
    <!--    List<OvertimeStandardVO>  getByMonthSelectList(String month)-->
    <select id="getByMonthSelectList" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields"/>
        FROM overtime o join employee_data e on o.Employee_id = e.id
        where DATE_FORMAT(start_time, '%Y-%m') = #{month}
    </select>

    <!--   List<OvertimeStandardVO>  getByOvertimeCalculate(Long id) -->
    <select id="getByOvertimeCalculate" resultMap="getByIdResultMap">
        SELECT o.id,
               e.employee_name,
               weekday_overtime,
               holiday_overtime,
               legal_holiday_overtime,
               statutory_overtime,
                comp_time
        FROM overtime o
                 left join employee_data e on o.employee_id = e.id
        WHERE DATE_FORMAT(start_time, '%Y-%m') =
              DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 MONTH)
                  , '%Y-%m')
          and employee_id = #{id};
    </select>

    <!--    List<EmployeeDataStandardVO> selectEmployees(); -->
    <select id="selectEmployees" resultMap="ListEmployeesResultMap">
        SELECT
        <include refid="ListEmployeesQueryFields"/>
        FROM employee_data data left join hea_dept dept on dept.id = data.hea_dept_id order by data.hea_dept_id
    </select>


    <sql id="ListQueryFields">
        <if test="true">
            o.id,e.employee_name,weekday_overtime,holiday_overtime,legal_holiday_overtime,statutory_overtime,comp_time,Employee_id,start_time,end_time
        </if>
    </sql>


    <sql id="ListEmployeesQueryFields">
        <if test="true">
            data.id, employee_name, dept.dept_name, gender,
            address, id_number, birthday,hiredate,
            phone_number, education_background
        </if>
    </sql>

    <sql id="getByIdQueryFields">
        <if test="true">
            t.id,e.employee_name,
            weekday_overtime,holiday_overtime,legal_holiday_overtime,statutory_overtime,comp_time,Employee_id,start_time,end_time
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.tedu.codeafterend.pojo.vo.OvertimeStandardVO">
        <id column="id" property="id"/>
        <result column="weekday_overtime" property="weekdayOvertime"/>
        <result column="holiday_overtime" property="holidayOvertime"/>
        <result column="statutory_overtime" property="statutoryOvertime"/>
        <result column="comp_time" property="compTime"/>
        <result column="Employee_id" property="EmployeeId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="legal_holiday_overtime" property="legalHolidayOvertime"/>
        <result column="employee_name" property="employeeName"/>
    </resultMap>

    <resultMap id="getByIdResultMap" type="cn.tedu.codeafterend.pojo.vo.OvertimeStandardVO">
        <id column="id" property="id"/>
        <result column="weekday_overtime" property="weekdayOvertime"/>
        <result column="holiday_overtime" property="holidayOvertime"/>
        <result column="statutory_overtime" property="statutoryOvertime"/>
        <result column="comp_time" property="compTime"/>
        <result column="Employee_id" property="EmployeeId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="legal_holiday_overtime" property="legalHolidayOvertime"/>
        <result column="employee_name" property="employeeName"/>
    </resultMap>

    <resultMap id="ListEmployeesResultMap" type="cn.tedu.codeafterend.pojo.vo.EmployeeDataStandardVO">
        <id column="id" property="id"/>
        <result column="employee_name" property="employeeName"/>
        <result column="dept_Name" property="deptName"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="id_number" property="idNumber"/>
        <result column="birthday" property="birthday"/>
        <result column="hiredate" property="hiredate"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="education_background" property="educationBackground"/>
        <result column="input_data" property="inputData"/>
        <result column="hea_dept_id" property="heaDeptId"/>
    </resultMap>
</mapper>
